@font-face {
  font-family: "Averta";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Averta-Regular.eot");
  src: url("../fonts/Averta-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Regular.woff2") format("woff2"), url("../fonts/Averta-Regular.woff") format("woff"), url("../fonts/Averta-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Averta";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Averta-SemiBold.eot");
  src: url("../fonts/Averta-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-SemiBold.woff2") format("woff2"), url("../fonts/Averta-SemiBold.woff") format("woff"), url("../fonts/Averta-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Averta";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Averta-Bold.eot");
  src: url("../fonts/Averta-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Averta-Bold.woff2") format("woff2"), url("../fonts/Averta-Bold.woff") format("woff"), url("../fonts/Averta-Bold.ttf") format("truetype"); }

body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Averta", "Arial", sans-serif;
  color: #1E3D54;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

figure {
  margin: 0; }

figure img {
  display: block;
  max-width: 100%; }

::-moz-selection {
  background-color: #1E3D54;
  color: rgba(0, 0, 0, 0.2); }

::selection {
  background-color: #1E3D54;
  color: rgba(0, 0, 0, 0.2); }

.u-hide {
  display: none !important; }

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none; }

nav > ul > li > a {
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: rgba(30, 61, 84, 0.4);
  opacity: 0.6; }
  @media screen and (min-width: 22.5rem) {
    nav > ul > li > a {
      padding: 0.5rem 1rem; } }

nav a:hover {
  opacity: 0.8; }

nav a.isActive {
  background-color: rgba(30, 61, 84, 0.1);
  font-weight: bold;
  color: rgba(30, 61, 84, 0.5);
  opacity: 1; }

section {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center; }
  @media screen and (min-width: 22.5rem) {
    section {
      padding: 0.75rem; } }
  @media screen and (min-width: 30rem) {
    section {
      padding: 1rem; } }
  @media screen and (min-width: 60rem) {
    section {
      padding: 1rem 10vh; } }

/* Owl Carousel: Spacing */
.owl-carousel {
  width: calc(100% + 2rem);
  max-width: 46rem;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem; }

.owl-stage {
  margin-left: 0.5rem; }

.owl-item {
  max-width: calc(100vw - 2rem); }

.owl-item .card {
  margin: 0 0.5rem; }

@media screen and (min-width: 30rem) {
  .owl-stage {
    margin-left: 3.5rem; }
  .owl-item .card {
    margin: 0 1.5rem; } }

/* Owl Carousel: Opacity of active item */
.owl-carousel .owl-item .card,
.owl-carousel .active + .active .card {
  opacity: 0.25;
  transition: all 0.5s ease; }

.owl-carousel .owl-item .card > *,
.owl-carousel .active + .active .card > * {
  opacity: 0;
  transition: all 0.5s ease; }

.owl-carousel .active .card,
.owl-carousel .active .card > * {
  opacity: 1; }

/* Owl Carousel: Nav */
.owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem; }

.owl-dot {
  width: 3rem;
  height: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.125rem;
  background: rgba(20, 31, 51, 0.15);
  /*#009EEB;*/ }

.owl-dot.active {
  background: rgba(20, 31, 51, 0.5); }

.sequence__progress {
  background: rgba(20, 31, 51, 0.05); }

.sequence__progress-bar {
  width: 12.5%;
  /* This width should be dynamic, based on amount of questions in sequence */
  height: 0.125rem;
  background: rgba(20, 31, 51, 0.5);
  background: #009EEB;
  transition: all 0.6s ease; }

.isAnswered .sequence__progress-bar {
  width: 18.6667%; }

.text--medium {
  color: inherit;
  opacity: 0.6; }

.text--light {
  color: inherit;
  opacity: 0.25; }

@keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  100% {
    opacity: 0;
    transform: scale(2.5); } }

@keyframes activeBump {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes activeBumpLarge {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes inActiveBump {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(0.85); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes inActiveBumpLarge {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1); } }

.embed-fs-bg {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.embed-fs-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 61, 84, 0.5); }

.embed-fs-bg > * {
  position: relative; }

.hidden {
  display: none; }

@media (min-width: 480px) {
  .sm\:hidden {
    display: none; }
  .sm\:show {
    display: inherit; } }

/* Element - Badge */
.badge {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  background-color: #E9EFF2;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white; }

.badge img {
  max-width: 100%; }

.badge.badge--small {
  width: 1.75rem;
  height: 1.75rem; }

.badge.badge--tiny {
  width: 1.25rem;
  height: 1.25rem; }

.badge.badge--overlap {
  margin-left: -1rem; }

.badge.badge--status {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  width: auto;
  border-radius: 1rem;
  vertical-align: middle;
  white-space: nowrap; }

.badge.badge--status img {
  float: left;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  opacity: 0.25; }

.badge.badge--status span {
  display: inline-block;
  opacity: 0.75;
  line-height: 1.5rem;
  overflow: hidden;
  max-width: 90%;
  text-overflow: ellipsis; }

.badge--circle {
  text-align: center;
  line-height: 2.5rem; }

.badge--circle.badge--small {
  line-height: 2rem; }

.badge--circle img {
  opacity: 0.25; }

.badge.badge--end-date {
  width: auto;
  height: auto;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border-color: transparent;
  background-color: #fff6d9;
  color: #ffc000;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: initial; }

.badge.badge--end-date img {
  display: inline-block;
  width: 1rem;
  vertical-align: middle; }

@media screen and (max-width: 30rem) {
  .badge.badge--end-date {
    margin-right: 0; } }

.badge.badge--poll-ended {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  width: auto;
  height: auto;
  margin-left: 2rem;
  padding: 0.25rem 0.5rem;
  background: linear-gradient(-70deg, rgba(104, 181, 239, 0.7) 0%, rgba(29, 201, 181, 0.7) 100%);
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: #fff; }

/* Element - Button */
.button {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  appearance: none;
  border: none;
  border-radius: 0.5rem;
  background: #dde7eb;
  cursor: pointer;
  overflow: hidden;
  font: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.01rem;
  color: inherit;
  transition: all 0.5s ease; }
  .button::-moz-focus-inner {
    border: 0; }
  .button.isSelected {
    background: #009eeb;
    color: white; }
    .button.isSelected.isDisabled .button__text {
      color: white; }
  .button.button--multipunch {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: 2px solid transparent; }
    .button.button--multipunch:after {
      left: auto;
      right: 0.5rem;
      background: url("../images/icons/check_blue.svg");
      transition: all 0.3s cubic-bezier(0, 0, 0.2, 1); }
    .button.button--multipunch.isSelected {
      background: white;
      border-color: currentColor;
      color: #009eeb; }
      .button.button--multipunch.isSelected:after {
        transform: scale(1);
        opacity: 1; }
    .button.button--multipunch.button--image:before {
      display: none; }
    .button.button--multipunch.button--image:after {
      background-color: #009eeb;
      border-radius: 0.75rem;
      background-image: url("../images/icons/check_white.svg");
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat; }
    .button.button--multipunch .ink {
      background: rgba(0, 0, 0, 0.1); }

.button:hover {
  background-color: white;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2); }

.button:focus {
  outline: none;
  animation: activeBump 0.5s ease-in-out; }

.isAnswered .button--answer:not(.isSelected) {
  background: rgba(0, 0, 0, 0.02);
  color: rgba(30, 61, 84, 0.75); }

.button.button--answer {
  margin: 0.25rem;
  padding: 0.5rem 1rem 0.25rem; }
  @media screen and (min-width: 22.5rem) {
    .button.button--answer {
      margin: 0.375rem; } }
  @media screen and (min-width: 30rem) {
    .button.button--answer {
      margin: 0.5rem 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }

.button.button--nostats {
  min-height: 2.5rem;
  padding: 0.5rem 1.5rem 0.5rem; }

.button.button--image {
  padding: 0; }
  .button.button--image figure {
    position: relative;
    height: 0;
    padding-bottom: 100%; }
    .button.button--image figure img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .button.button--image .button__stat {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    width: calc(100% - 1rem);
    opacity: 1; }
  .isAnswered .button.button--image .button__stat {
    background-color: rgba(0, 0, 0, 0.15); }

.button.button--primary {
  background: #009eeb;
  border-color: #009eeb;
  color: white; }

/* Answer correct/wrong states */
.button.button-correct,
.button.isSelected.isCorrect {
  background: #37d7af; }

.button.button-wrong,
.button.isSelected.isWrong {
  background: #fd674c; }

.button.isCorrect:not(.isSelected) {
  border: 2px solid #37d7af; }

.button.isSelected.isCorrect,
.button.isSelected.isWrong {
  padding-left: 2.5rem; }

.button:after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 1.6rem;
  width: 1.6rem;
  background-size: contain;
  transition: all 0.5s ease-in-out;
  transform: scale(0.5);
  opacity: 0; }

.button.isSelected.isCorrect:after,
.button.isSelected.isWrong:after {
  background: url("../images/icons/check_white.svg");
  transform: scale(1);
  opacity: 1; }

.button.isSelected.isWrong:after {
  background: url("../images/icons/cross_white.svg"); }

.button.button--image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 158, 235, 0.1);
  border: 0.25rem solid #009eeb;
  border-radius: 0.5rem;
  transition: all 0.6s ease;
  transform: scale(1.05);
  opacity: 0;
  pointer-events: none; }

.button.button--image.isSelected:before {
  transition: all 0.3s ease;
  transform: scale(1);
  opacity: 1; }

.button.button--image.isSelected figure img {
  opacity: 0.9; }

.isAnswered .button:not(.isSelected) figure img {
  opacity: 0.25; }

.button--large {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  border-radius: 0.5rem; }

.button--small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.375rem; }

.button--square {
  padding: 0.5rem; }

.button.button--facebook {
  background-color: #3b5998;
  color: #fff; }

.button.button--twitter {
  background-color: #55acee;
  color: #fff; }

.button.button--outline {
  background-color: transparent;
  border: 1px solid currentColor;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  opacity: 0.5; }

.button--small.button--outline {
  padding: calc(0.25rem - 1px) calc(0.5rem - 1px); }

.button.button--outline:hover {
  opacity: 1; }

.button.isDisabled {
  background: rgba(0, 0, 0, 0.03);
  pointer-events: none; }

.button.isDisabled .button__text {
  color: rgba(30, 61, 84, 0.25); }

.button__text {
  display: inline-block;
  padding-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  transform-origin: top left;
  transition: transform 0.5s ease, padding 0.5s ease; }

@media screen and (min-width: 21rem) {
  .button__text {
    font-size: 1rem;
    line-height: 1rem; } }

.isAnswered .button__text {
  transform: scale(0.875);
  transition-delay: 0.5s; }

.button .button__stat {
  display: block;
  height: 0.25rem;
  margin: 0.125rem 2.5rem 0.25rem 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.125rem;
  opacity: 0.5;
  transition: background 1.5s ease; }

.isAnswered .button .button__stat {
  background-color: rgba(0, 0, 0, 0.1); }

.button .button__stat span {
  display: block;
  height: 0.25rem;
  max-width: 0;
  background-color: currentColor;
  border-radius: 0.125rem;
  transition: max-width 1.5s cubic-bezier(1, 0, 0, 1), margin-top 0.5s ease; }

.isAnswered .button .button__stat span {
  max-width: 100%;
  transition-delay: 0.5s; }

.button .button__stat b {
  position: absolute;
  right: 0.5rem;
  bottom: 0.25rem;
  font-size: 0.875rem;
  transform: translateX(4rem);
  transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition-delay: 0.5s; }

.isAnswered .button .button__stat b {
  transform: translateX(0); }

/* https://codepen.io/ayoisaiah/pen/GWwabJ */
/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
  display: block;
  position: absolute;
  z-index: 2;
  background: rgba(30, 61, 84, 0.5);
  border-radius: 100%;
  transform: scale(0); }

.button--answer .ink {
  background: #0077b3; }

/*animation effect*/
.ink.animate {
  animation: ripple 0.5s linear; }

/* Element - Countdown */
.countdown {
  position: relative;
  z-index: 2;
  font-size: 50px;
  /* width and height of the timer, so everything depends on this value, as we use 'em' in children */
  width: 1em;
  height: 1em;
  margin: 0 auto;
  margin-top: -2.5rem;
  background: #fff;
  border-radius: 0.5em; }

.countdown--cover {
  font-size: 100px;
  margin: 2rem auto 1rem; }

.countdown__pie {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
  /* only show the right half of the pie */
  pointer-events: none; }

.countdown__pie.isFull {
  /* show the entire pie */
  clip: rect(auto, auto, auto, auto); }

.countdown__track,
.countdown__pie .countdown__slice {
  border: 0.08em solid #f5f6f7;
  position: absolute;
  width: 1em;
  /* 1em - (2*border-width) */
  height: 1em;
  /* 1em - (2*border-width) */
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
  transition: all 0.05s ease; }

.countdown__pie .countdown__slice {
  background: transparent;
  border-color: #009eeb;
  clip: rect(0em, 0.5em, 1em, 0em);
  /* only take a half of the pie (left part) */
  transition: border-color 0.3s ease; }

.countdown__pie.isAlert .countdown__slice {
  border-color: #fd674c; }

.countdown.isComplete .countdown__slice {
  border-color: #DDE7EB; }

.countdown__pie .countdown_filler {
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  display: none; }

.countdown__pie.isFull .countdown_filler {
  display: block; }

.countdown__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em; }

.countdown__content .value {
  font-size: 1.25rem;
  font-weight: 500; }

.countdown--cover .countdown__content .value {
  font-size: 2rem; }

.countdown.isComplete {
  transform: scale(0);
  transition: all 2s cubic-bezier(1, 0, 0, 1);
  opacity: 0; }

/* Element - Dropdown */
.hasDropdown {
  position: relative;
  display: inline-block; }

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 4;
  display: block;
  min-width: 10rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(20, 36, 51, 0.1);
  border-radius: 0.75rem;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none; }

.dropdown:after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 1rem;
  z-index: 2;
  border: 0.5rem solid transparent;
  border-bottom-color: white; }

.dropdown.dropdown--onTopLeft {
  right: auto;
  top: auto;
  left: 0;
  bottom: 100%; }

.dropdown.dropdown--onTopLeft:after {
  right: auto;
  left: 1rem;
  bottom: auto;
  top: 100%;
  border-bottom-color: transparent;
  border-top-color: white; }

.hasDropdown.isActive .dropdown {
  max-height: 20rem;
  opacity: 1;
  pointer-events: all; }

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0; }

.dropdown li a {
  display: block;
  padding: 0.35rem 1rem;
  white-space: nowrap; }

.dropdown li a:hover {
  opacity: 1; }

/* Element - Field */
.field {
  appearance: none;
  display: inline-block;
  min-width: 12rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(30, 61, 84, 0.2);
  border-radius: 0.5rem;
  background: #fff;
  font: inherit;
  font-size: 1rem;
  line-height: calc(1.5rem - 2px) !important;
  transition: all 0.5s ease;
  resize: none; }
  .field:focus {
    outline: none;
    box-shadow: 0 0.125rem 1rem rgba(30, 61, 84, 0.2);
    border-color: #009EEB; }
  .field::-webkit-input-placeholder {
    color: rgba(30, 61, 84, 0.3); }
  .field:-moz-placeholder {
    color: rgba(30, 61, 84, 0.3); }
  .field::-moz-placeholder {
    color: rgba(30, 61, 84, 0.3); }
  .field:-ms-input-placeholder {
    color: rgba(30, 61, 84, 0.3); }
  .field--answer {
    padding: calc(0.75rem - 1px) 1rem;
    padding-right: 3.5rem;
    font-size: 1.125rem;
    line-height: 2rem; }
    .field--answer.field--multiline {
      width: 100%;
      font-size: 1rem;
      line-height: 1.375rem; }
    .card.isAnswered .field--answer {
      border-color: transparent;
      background: #009EEB;
      color: #fff;
      pointer-events: none; }
      .card.isAnswered .field--answer + .button {
        margin-left: 0;
        margin-right: -2rem;
        opacity: 0;
        pointer-events: none; }
  .field--large {
    min-width: 18rem;
    padding: calc(0.5rem + 2px) 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background: #fff;
    line-height: 2rem;
    font: inherit;
    font-size: 1rem;
    transition: all 0.5s ease; }
  .field--checkbox {
    position: absolute;
    left: -9999px;
    display: inline-block;
    margin-top: 0.5rem; }
  .field--checkbox + label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background: rgba(30, 61, 84, 0.05);
    color: rgba(30, 61, 84, 0.5);
    cursor: pointer;
    user-select: none; }
  .field--checkbox + label:before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    border-radius: 0.5rem;
    border: 1px solid rgba(30, 61, 84, 0.2); }
  .field--checkbox + label:hover:before {
    border-color: #009EEB; }
  .field--checkbox + label:hover {
    color: #009EEB; }
  .field--checkbox + label a {
    text-decoration: underline; }
  .field--checkbox:checked + label {
    background: white;
    border-color: rgba(30, 61, 84, 0.2);
    color: #1E3D54; }
  .field--checkbox:checked + label:before {
    background: #009EEB;
    border-color: transparent; }
  .field--underline {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    background: none;
    padding: 1rem 0;
    color: rgba(255, 255, 255, 0.7); }
    .field--underline:focus {
      border-bottom-color: #fff;
      box-shadow: none;
      color: #fff; }
    .field--underline.field--large {
      padding: 3rem 0;
      font-weight: 500;
      font-size: 2rem;
      border-bottom-width: 3px; }
    .field--underline.field--large::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.3); }
    .field--underline.field--large:-moz-placeholder {
      color: rgba(255, 255, 255, 0.3); }
    .field--underline.field--large::-moz-placeholder {
      color: rgba(255, 255, 255, 0.3); }
    .field--underline.field--large:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.3); }

/* Element - Link */
a.link--icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  line-height: 0.75rem;
  opacity: 0.5; }

a.link--icon:hover {
  color: #009EEB;
  opacity: 1;
  /*text-shadow: 0 0 0.5rem #009EEB;*/ }

a.link--icon img {
  width: 1.5rem;
  margin-right: 0.25rem; }

.owl-carousel .owl-item a.link--icon img {
  width: 1.5rem; }

a.link--icon.isActive img[src*="toggle"] {
  opacity: 1; }

/* Element - Tooltip */
.hasTooltip {
  position: relative; }

.tooltip {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 3;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  background: rgba(30, 61, 84, 0.75);
  color: white;
  font-size: 0.875rem;
  font-weight: normal;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease; }

.hasTooltip:hover .tooltip {
  opacity: 1; }

.tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 1rem;
  border: 0.25rem solid transparent;
  border-top-color: rgba(30, 61, 84, 0.75); }

.tooltip.tooltip--onBottom {
  bottom: auto;
  top: 100%; }

.tooltip.tooltip--onBottom:after {
  top: auto;
  bottom: 100%;
  border-top-color: transparent;
  border-bottom-color: rgba(30, 61, 84, 0.75); }

.tooltip.tooltip--onLeft {
  right: auto;
  left: 0; }

.tooltip.tooltip--onLeft:after {
  right: auto;
  left: 1rem; }

/* Component Child - Card Answer Section */
.sequence__timer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem; }

@media screen and (min-width: 30rem) {
  .sequence__timer {
    max-width: 36rem;
    padding: 0 2rem 1rem; } }

.sequence__timer--label {
  padding: 0.25rem 0.5rem;
  flex-grow: 0;
  border-radius: 1rem;
  background-color: #FFC000;
  color: #fff; }

.card .sequence__timer--label {
  font-size: 0.75rem;
  line-height: 0.75rem; }

.isFinished .sequence__timer--label {
  background-color: rgba(20, 36, 51, 0.05);
  color: transparent; }

.sequence__timer--box {
  flex-grow: 1;
  height: 0.25rem;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  background-color: rgba(20, 36, 51, 0.05);
  overflow: hidden; }

.sequence__timer--bar {
  display: block;
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  background-color: #FFC000; }

.sequence__timer.isRunning .sequence__timer--bar {
  width: 0; }

.card {
  position: relative;
  display: block;
  /*flex: 0 0 30rem;*/
  max-width: 36rem;
  width: 100%;
  flex-direction: column;
  margin-bottom: 2rem;
  box-shadow: 0 0 1rem rgba(20, 36, 51, 0.075);
  border-radius: 0.5rem;
  background: white;
  overflow: hidden;
  transition: all 0.6s ease; }
  @media screen and (min-width: 30rem) {
    .card {
      box-shadow: 0 0 1rem rgba(20, 36, 51, 0.15); } }
  .card--wide {
    max-width: 60rem; }
    @media screen and (min-width: 30rem) {
      .card--wide.card--hasLead .card__content {
        max-width: 100%;
        transition: all 0.6s ease;
        border-radius: 0.5rem;
        overflow: hidden; }
      .card--wide.card--hasLead .card__overlay {
        max-width: 60%;
        transition-delay: 0; }
        .card--wide.card--hasLead .card__overlay .card__overlay--close {
          display: none; }
      .card--wide.card--hasLead.isAnswered {
        background: #fff; }
        .card--wide.card--hasLead.isAnswered .card__content {
          box-shadow: 0 0 1rem rgba(20, 36, 51, 0.2); }
      .card--wide.card--hasLead.card--leadActive.isAnswered .card__content {
        max-width: 40%;
        transform: scale(0.9); }
      .card--wide.card--hasLead.card--leadActive.isAnswered .card__overlay {
        transition-delay: 0.6s; } }

.card.isAnswered {
  background: #FBFCFC;
  box-shadow: 0 0 0.5rem rgba(20, 36, 51, 0.1);
  /*#142433*/ }

@media screen and (max-width: 24rem) {
  .card .card__hidexs {
    display: none; } }

/* Poll ended state */
.card.isEnded .card__q-image {
  opacity: 0.7; }

.card.isEnded .card__q-title__content:before {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0.8) 100%); }

.card.isEnded .card__answer--mctext:first-child {
  padding-bottom: 0; }

.card.isEnded .card__followup {
  background: none; }
  .card.isEnded .card__followup .card__followup--content {
    padding-top: 0.5rem;
    justify-content: center; }

.card.isEnded .card__footer {
  background: rgba(255, 255, 255, 0.25);
  border-top: 0; }

.card.isEnded .card__answer--mctext .button--answer.isDisabled {
  margin-left: -0.5rem;
  background: none; }

.card.isEnded .card__answer--mcimage .button--answer.isDisabled img {
  opacity: 0.7; }

.card.isEnded .button--answer.isWinner {
  color: #009EEB; }
  .card.isEnded .button--answer.isWinner .button__text {
    color: inherit;
    font-size: 2rem; }
  .card.isEnded .button--answer.isWinner .button__stat {
    opacity: 0.7;
    margin-right: 3rem; }
  .card.isEnded .button--answer.isWinner .button__winnerbadge {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: rgba(20, 36, 51, 0.15); }

.card.isEnded .card__answer--mcimage .button--answer.isWinner {
  flex-basis: 100%; }
  .card.isEnded .card__answer--mcimage .button--answer.isWinner figure {
    width: 8rem;
    height: 8rem;
    padding-bottom: 0; }
    .card.isEnded .card__answer--mcimage .button--answer.isWinner figure img {
      width: 8rem;
      height: 8rem;
      display: flex;
      align-self: flex-start;
      justify-self: flex-start; }
  .card.isEnded .card__answer--mcimage .button--answer.isWinner .button__stat {
    position: absolute;
    bottom: 1rem;
    left: 9rem;
    width: 120%; }
  .card.isEnded .card__answer--mcimage .button--answer.isWinner .button__text {
    position: absolute;
    top: 1rem;
    left: 9rem; }

/* sequence effect (mockup only) */
.sequence-container-wrapper {
  overflow: hidden;
  margin: -0.5rem;
  padding: 0.5rem;
  max-width: 100vw; }

.sequence-container {
  position: relative; }

@media screen and (min-width: 42rem) {
  .sequence-container {
    width: 36rem; } }

.card.card--sequence {
  margin-bottom: 0; }

.card.card--sequence:not(.card--sequence-active) {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(20rem);
  opacity: 0;
  pointer-events: none; }

.card--sequence-active {
  pointer-events: all; }

.card.isShifting,
.card.isShiftingOut {
  transform: translateX(-20rem);
  opacity: 0; }

.card.card--sequence.isShiftingIn {
  transform: translateX(0);
  opacity: 1; }

/* end sequence effect (mockup only) */
.card.card--countdown {
  box-shadow: 0 0 1rem rgba(20, 36, 51, 0.25);
  /* because of white bg */ }

.card.card--countdown.isAnswered {
  background-color: #f5f6f7; }

/* Component Child - Card Header */
.card__header {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  text-align: left;
  font-size: 0.875rem; }
  @media screen and (min-width: 22.5rem) {
    .card__header {
      padding: 0.5rem 1rem; } }
  @media screen and (min-width: 30rem) {
    .card__header {
      padding: 0.75rem 2rem; } }

.card__header > * {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -0.5rem; }

.card__header--right {
  margin-right: -1rem; }
  @media screen and (min-width: 30rem) {
    .card__header--right {
      margin-right: -1.5rem; } }

.card__header a {
  padding: 0.5rem;
  opacity: 0.5; }

.card__header .card__header--right a {
  opacity: 0.2; }

.card__header .author .author__name {
  display: block;
  white-space: nowrap;
  max-width: 25vw;
  text-overflow: ellipsis;
  overflow: hidden; }

.card__header .date {
  display: none;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 1rem;
  opacity: 0.3; }

@media screen and (min-width: 21rem) {
  .card__header .date {
    display: inherit; }
  .card__header .date--onmobile {
    display: none; } }

.card__header--horizontal {
  padding: 0 2rem;
  border-bottom: 1px solid #F0F5F7; }

.card__category {
  height: 0.25rem; }

/* Component Child - Card Question Section */
.card__question {
  position: relative;
  display: flex; }

.card__q-image,
.card__q-title {
  position: relative;
  min-width: 100%;
  width: 100%;
  flex-basis: 100%;
  flex-grow: 1; }

.card__q-image {
  min-height: 6rem;
  max-height: 18rem;
  overflow: hidden;
  transition: all 0.5s ease;
  transition-delay: 1.5s;
  /* Follow-up transition */ }

.card__q-title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: -100%;
  pointer-events: all; }

.card__title {
  text-align: left;
  padding: 1.5rem 1.5rem 0; }
  @media screen and (min-width: 30rem) {
    .card__title {
      padding-left: 2rem; } }

.card__pretitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem; }
  .card__pretitle .pretitle--link {
    display: flex;
    align-items: center;
    gap: 0.5rem; }
    .card__pretitle .pretitle--link h4 {
      margin: 0;
      color: #009EEB;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1.25rem;
      letter-spacing: 0.05rem; }
      @media screen and (min-width: 30rem) {
        .card__pretitle .pretitle--link h4 {
          font-size: 0.875rem; } }
    .card__pretitle .pretitle--link img {
      opacity: 0.25; }
    .card__pretitle .pretitle--link:hover {
      color: #0089CC; }
      .card__pretitle .pretitle--link:hover img {
        opacity: 1; }
  .card__pretitle .dots {
    display: flex; }
    .card__pretitle .dots a {
      display: inline-block;
      padding: 0.25rem; }
    .card__pretitle .dots .dot {
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.25rem;
      background: #DDE7EB; }
      .card__pretitle .dots .dot.isActive {
        background: #009EEB; }

.nav-arrows {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -1.25rem;
  padding: 0 1rem; }
  .nav-arrows .arrow {
    display: inline-block;
    padding: 0.5rem;
    background: rgba(30, 61, 84, 0.2);
    border-radius: 1.25rem; }
    .nav-arrows .arrow--prev img {
      transform: translateX(-1px); }
    .nav-arrows .arrow--next img {
      transform: translateX(1px); }
    .nav-arrows .arrow.isDisabled {
      opacity: 0.2;
      pointer-events: none; }
    .nav-arrows .arrow:hover {
      background: rgba(30, 61, 84, 0.3); }
    .nav-arrows .arrow:active {
      background: rgba(30, 61, 84, 0.6); }
    .nav-arrows .arrow img {
      display: block; }

.card.isAnswered .card__question .card__q-image {
  /* 6rem = height of 'follow up container' */
  min-height: 0;
  max-height: calc(18rem - 6rem); }

.card.card--sequence.isAnswered .card__question .card__q-image {
  max-height: calc(18rem - 3rem); }

.card__question.isExpanded .card__q-image {
  padding-bottom: 9rem;
  max-height: 80vh;
  transition-delay: 0; }

.card__question--toggle {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(30, 61, 84, 0.25); }

.card__question--toggle:hover {
  background-color: rgba(30, 61, 84, 0.35); }

.card__question.isExpanded .card__question--toggle img {
  display: none !important; }

.card__question.isExpanded .card__question--toggle img.close {
  display: block !important; }

.card__question img {
  width: 100%; }

.card__q-title__content {
  position: relative;
  width: 100%;
  padding: 1rem; }
  @media screen and (min-width: 30rem) {
    .card__q-title__content {
      padding: 1rem 2rem; } }

.card--sequence .card__q-title__content {
  padding-bottom: 1.5rem !important; }

.card__q-title__content:before {
  content: "";
  position: absolute;
  top: -4rem;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% + 4rem);
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0.9) 100%); }

.card__question h3,
.card__title h3 {
  margin: 0;
  letter-spacing: 0.02rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left; }
  .card__question h3.h3--small,
  .card__title h3.h3--small {
    font-size: 1.125rem; }
  .card__question h3.h3--large,
  .card__title h3.h3--large {
    font-size: 1.5rem; }

.card__question .description,
.card__title .description {
  margin: 0.5rem 0 0;
  text-align: left;
  opacity: 0.7;
  font-weight: 600; }

/* Component Child - Card Answer Section */
.card__answer {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  align-items: flex-start;
  padding: 0.5rem 0.25rem; }
  @media screen and (min-width: 22.5rem) {
    .card__answer {
      padding: 0.75rem 0.375rem; } }
  @media screen and (min-width: 30rem) {
    .card__answer {
      padding: 1rem; } }

.card__answer--yn > * {
  flex-basis: 50%; }

.card__answer--mctext {
  flex-direction: column;
  align-items: stretch; }
  .card__answer--mctext .button {
    margin: 0.5rem 1rem; }

.card__answer--mctext > * {
  text-align: left; }

.card__answer--mcimage {
  flex-wrap: wrap;
  padding: 0.75rem 0.375rem; }
  @media screen and (min-width: 22.5rem) {
    .card__answer--mcimage {
      padding: 1rem 0.5rem; } }
  @media screen and (min-width: 30rem) {
    .card__answer--mcimage {
      padding: 1rem 1.5rem; } }

.card__answer--mcimage > * {
  align-self: flex-start;
  flex-basis: calc(50% - 0.75rem); }
  @media screen and (min-width: 22.5rem) {
    .card__answer--mcimage > * {
      flex-basis: calc(50% - 1rem); } }

@media screen and (min-width: 30rem) {
  .mcimage--3col > * {
    flex-basis: calc(33.3333% - 1rem); } }

.card__answer--mcimage > .button {
  margin: 0.375rem; }
  @media screen and (min-width: 22.5rem) {
    .card__answer--mcimage > .button {
      margin: 0.5rem; } }

.card__answer--mcimage .button .button__text {
  text-align: left;
  padding: 0.5rem;
  letter-spacing: 0;
  line-height: 1.125rem; }

.card__answer--score {
  justify-content: center; }

.card__answer--score .button.button--answer {
  padding: 0.75rem;
  padding-bottom: 0.375rem;
  border-radius: 1.5rem;
  line-height: 1rem; }
  @media screen and (max-width: 30rem) {
    .card__answer--score .button.button--answer {
      margin-left: 0.5rem;
      margin-right: 0.5rem; } }

.card__answer--open {
  justify-content: center; }
  .card__answer--open .answer-group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    margin: 1rem; }
    .card__answer--open .answer-group .button--answer {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: -3rem;
      margin-bottom: 0.5rem;
      padding: 0.5rem; }
      .card__answer--open .answer-group .button--answer svg {
        stroke: #fff; }
      .card__answer--open .answer-group .button--answer.isDisabled {
        background: #E9EFF2; }
        .card__answer--open .answer-group .button--answer.isDisabled svg {
          stroke: rgba(30, 61, 84, 0.2); }
    .card__answer--open .answer-group .indicator {
      position: absolute;
      top: 0.75rem;
      right: 1rem;
      font-size: 0.875rem;
      opacity: 0.3;
      letter-spacing: 0.5px; }

.button[type="submit"] {
  padding-bottom: 0.5rem; }

/* Component Child - Card Follow-up section */
.card__followup {
  position: relative;
  height: 6rem;
  display: flex;
  max-height: 0;
  transition: all 0.5s ease;
  transition-delay: 1.5s;
  /*Follow-up transition*/
  align-items: center;
  pointer-events: none;
  background-color: #fff; }

.card.isAnswered .card__followup {
  max-height: 6rem;
  pointer-events: all; }

.card.card--sequence.isAnswered .card__followup {
  max-height: 3rem; }

.card__followup--content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease;
  transition-delay: 1.5s;
  /*Follow-up transition*/ }
  @media screen and (min-width: 22.5rem) {
    .card__followup--content {
      padding: 1.75rem 1rem; } }
  @media screen and (min-width: 30rem) {
    .card__followup--content {
      flex-direction: row;
      padding: 1.75rem 2rem; } }

.card.card--sequence .card__followup--content {
  padding: 0.5rem 0.75rem; }
  @media screen and (min-width: 22.5rem) {
    .card.card--sequence .card__followup--content {
      padding: 0.5rem 1rem; } }
  @media screen and (min-width: 30rem) {
    .card.card--sequence .card__followup--content {
      padding: 0.5rem 2rem; } }

.card.card--sequence .card__followup--content--left {
  display: flex;
  align-items: center; }

@media screen and (min-width: 30rem) {
  .card.card--embed .card__followup--content {
    padding: 1rem 2rem; } }

.isAnswered .card__followup--content {
  opacity: 1; }

.card__followup--content--left {
  text-align: left; }

.card__followup--content--left strong {
  display: inline-block;
  font-size: 1.125rem; }

.card__followup--content--left .card__colophon {
  display: inline-block;
  /*margin-top: 0.25rem;
  margin-bottom: -0.75rem;*/
  font-size: 0.875rem;
  opacity: 0.25; }

.card__followup--content--left .card__colophon img {
  margin-left: 0.125rem;
  height: 1.25rem;
  vertical-align: middle; }

.card__followup--actions {
  display: flex;
  margin-left: -0.5rem;
  /*Cancelling out the first button's margin left*/ }

.card__followup--actions button {
  margin-left: 0.5rem; }

.card__followup-timer {
  display: inline-block;
  width: 8.5rem;
  vertical-align: top;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: rgba(20, 36, 51, 0.1);
  border-radius: 0.125rem;
  overflow: hidden; }
  @media screen and (min-width: 22.5rem) {
    .card__followup-timer {
      width: 9rem;
      margin-right: 1rem; } }
  @media screen and (min-width: 30rem) {
    .card__followup-timer {
      width: 12rem; } }

.card__followup-timerbar {
  height: 0.25rem;
  width: 100%;
  max-width: 0;
  background: rgba(0, 158, 235, 0.5);
  transition: all 3.5s linear;
  transition-delay: 1.5s; }

.isAnswered:not(.card--countdown) .card__followup-timerbar,
.isAnswered.isPrepForNextQ .card__followup-timerbar {
  max-width: 100%;
  background: #009eeb; }

.card__followup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  line-height: 1rem;
  transition: all 0.3s ease;
  transform: translateY(6rem);
  opacity: 0;
  cursor: pointer; }

.card__followup-overlay.isVisible {
  transform: translateY(0);
  opacity: 1; }

.card__followup-overlay .text--correct {
  display: none;
  color: #37d7af; }

.card__followup-overlay .text--wrong {
  display: none;
  color: #fd674c; }

.card__followup-overlay .text--correct.isVisible,
.card__followup-overlay .text--wrong.isVisible {
  margin-left: 0;
  display: block; }

/* Component Child - Card Footer */
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  border-top: 1px solid #F0F5F7;
  transition: all 0.5s ease;
  transition-delay: 1.5s;
  /*Follow-up transition*/ }
  @media screen and (min-width: 22.5rem) {
    .card__footer {
      padding: 0.25rem 1rem; } }
  @media screen and (min-width: 30rem) {
    .card__footer {
      padding: 0.25rem 2rem; } }
  .card__footer .card__footer-brandlogo {
    display: block;
    height: 3rem;
    margin: 0.25rem 0;
    margin-left: 0.75rem; }

.isAnswered .card__footer {
  background: #F0F5F7; }

.card__footer > * {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -0.5rem;
  transition: all 0.3s ease;
  opacity: 0.5; }

.isAnswered .card__footer > *,
.card__footer:hover > * {
  opacity: 1; }

.card__overlay-container {
  position: relative;
  height: 2.5rem; }

.card__overlay-blur {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 4;
  height: 400rem;
  background: white;
  opacity: 0;
  transition: all 0.3s ease; }
  .card.card--leadActive .card__overlay-blur {
    opacity: 0.5; }

.card__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-height: 100%;
  z-index: 5;
  background: rgba(255, 255, 255, 0.95);
  background: white;
  box-shadow: 0px -4px 16px rgba(20, 36, 51, 0.1);
  text-align: left;
  transform: translateY(0);
  transition: all 0.3s ease;
  overflow: auto; }
  .card__overlay--header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    background: white;
    box-shadow: 0px 0.25rem 1rem rgba(20, 36, 51, 0.1);
    cursor: pointer; }
    @media screen and (min-width: 30rem) {
      .card__overlay--header {
        padding: 0.75rem 2rem; } }
    .card__overlay--header h4 {
      flex: 1; }
    .card__overlay--header .icon {
      flex: 0;
      display: inline-block;
      padding: 0 1rem;
      margin: 0 -1rem;
      opacity: 0.5; }
      @media screen and (min-width: 30rem) {
        .card__overlay--header .icon {
          margin-right: -2rem; } }
      .card__overlay--header .icon img {
        display: block;
        min-width: 1.5rem;
        height: 1.5rem; }
      .card__overlay--header .icon .close {
        display: none; }
    .card__overlay--header:hover h4 {
      color: rgba(20, 36, 51, 0.8); }
    .card__overlay--header:hover .icon {
      opacity: 0.7; }
    .card__overlay--header:active h4 {
      color: #142433; }
    .card__overlay--header:active .icon {
      opacity: 1; }
  .card__overlay--content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem; }
    @media screen and (min-width: 30rem) {
      .card__overlay--content {
        padding: 0 2rem 1rem; } }
    .card__overlay--content h3 {
      margin: 0; }
    .card__overlay--content p {
      margin: 0;
      color: #8392A6; }
    .card__overlay--content img {
      max-height: 20rem;
      margin-top: 0.75rem;
      border-radius: 0.5rem; }
  .card__overlay--footer {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem 1rem;
    background: white;
    box-shadow: 0px -0.25rem 1rem rgba(20, 36, 51, 0.1); }
    @media screen and (min-width: 30rem) {
      .card__overlay--footer {
        padding: 0.75rem 2rem; } }
  .card.card--leadActive .card__overlay {
    max-height: 24rem;
    opacity: 1;
    pointer-events: all; }
    .card.card--leadActive .card__overlay .close {
      display: block; }
    .card.card--leadActive .card__overlay .chevron {
      display: none; }
  .card__overlay h4 {
    margin: 0;
    color: #009EEB;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.05rem; }
    @media screen and (min-width: 30rem) {
      .card__overlay h4 {
        font-size: 0.875rem; } }

.card.card--leadActive .card__question,
.card.card--leadActive .card__title,
.card.card--leadActive .card__answer {
  filter: blur(0.25rem); }

.card__overlay--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .card__overlay--form .field {
    width: 100%;
    margin-bottom: 0.5rem; }

@media screen and (min-width: 30rem) {
  .card__overlay--form .field {
    width: 100%;
    max-width: 50%; } }

.leaderboard {
  width: 100%;
  max-width: 70rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: #F8F9FA;
  box-shadow: 0 0 1rem rgba(20, 36, 51, 0.15); }

.leaderboard .leaderboard__header h1 {
  margin: 0;
  padding: 1.5rem 0 1rem;
  font-weight: normal;
  color: #009EEB; }

@media screen and (min-width: 42rem) {
  .leaderboard {
    padding: 0 2rem; }
  .leaderboard__main {
    display: flex;
    flex-direction: row; }
  .leaderboard__main > * {
    flex: 1; }
  .leaderboard .card {
    margin-bottom: 0; }
  .leaderboard .leaderboard__leftcol,
  .leaderboard .leaderboard__rightcol {
    display: flex;
    align-items: stretch; }
  .leaderboard .leaderboard__leftcol {
    max-width: 28rem;
    margin-right: 2rem; }
  .leaderboard .leaderboard__rightcol .card {
    max-width: inherit; } }

.leaderboard__footer {
  display: flex;
  padding: 1rem 0 1.5rem; }

.leaderboard__footer > * {
  flex: 1; }

.leaderboard__footer .leaderboard__footer__left {
  text-align: left; }

.leaderboard__footer .leaderboard__footer__centre {
  flex: 2;
  text-align: center;
  align-items: center; }

.leaderboard__footer .leaderboard__footer__right {
  text-align: right; }

.leaderboard__footer h4 {
  margin: 0;
  margin-bottom: 0.25rem;
  color: #009EEB; }

.leaderboard__footer .sequence__progress {
  max-width: 20rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  overflow: hidden; }

.leaderboard__footer .sequence__progress-bar {
  height: 0.5rem; }

.leaderboard .card {
  border-radius: 1rem; }

.leaderboard .card--question {
  padding: 0.5rem;
  transition: all 0.5s ease; }
  .leaderboard .card--question:not(.isActive) {
    background: transparent;
    box-shadow: none; }
    .leaderboard .card--question:not(.isActive) .card__q-title__content:before {
      background: linear-gradient(to bottom, rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 0.8) 30%, #f8f9fa 100%); }
  .leaderboard .card--question.isActive.isAnswering {
    background: #009EEB;
    color: #fff;
    animation: activeBumpLarge 0.6s ease-in-out; }
    .leaderboard .card--question.isActive.isAnswering .card__q-title__content:before {
      background: linear-gradient(to bottom, rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 0.8) 30%, #009eeb 100%); }
  .leaderboard .card--question .card__q--calculatingresult {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #1E3D54;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none; }
    .leaderboard .card--question .card__q--calculatingresult .progress {
      display: inline-block;
      width: 15rem;
      height: 0.5rem;
      margin-bottom: 0.5rem;
      background: rgba(30, 61, 84, 0.1);
      border-radius: 0.25rem;
      overflow: hidden; }
      .leaderboard .card--question .card__q--calculatingresult .progress .progress-bar {
        display: block;
        height: 100%;
        max-width: 0;
        background: #009EEB;
        transition: all 5s ease-in-out; }
  .leaderboard .card--question.isActive.isCalculating .card__q--calculatingresult {
    opacity: 1; }
    .leaderboard .card--question.isActive.isCalculating .card__q--calculatingresult .progress-bar {
      max-width: 15rem; }
  .leaderboard .card--question .card__question {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden; }
  .leaderboard .card--question .card__q-title h3 {
    margin-bottom: -1rem; }
  .leaderboard .card--question .card__q-title__content {
    padding-left: 1rem;
    padding-right: 1rem; }
  .leaderboard .card--question .card__answer {
    padding-left: 0;
    padding-right: 0; }
  .leaderboard .card--question .card__answer .button {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    pointer-events: none;
    box-shadow: none;
    border: none; }
  .leaderboard .card--question:not(.isAnswered) .card__answer .button,
  .leaderboard .card--question.isAnswered .card__answer .button--answer:not(.isCorrect) {
    background: transparent; }
  .leaderboard .card--question:not(.isAnswered) .card__answer .button {
    padding-left: 0; }
  .leaderboard .card--question.isAnswered .card__question .card__q-image {
    max-height: 18rem; }
  .leaderboard .card--question .card__answer .button:after {
    transform: scale(1);
    opacity: 1; }
  .leaderboard .card--question .card__answer .button__text {
    font-size: 1.125rem; }
  .leaderboard .card--question .card.isAnswered .button--answer {
    color: #fff; }
  .leaderboard .card--question .button .button__stat b {
    bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: normal; }

.leaderboard .card--score {
  position: relative;
  background: transparent;
  box-shadow: none;
  overflow: visible; }
  .leaderboard .card--score.isActive {
    background: #fff;
    box-shadow: 0 0 1rem rgba(20, 36, 51, 0.15);
    animation: activeBumpLarge 0.6s ease-in-out; }

.card__leaderboard {
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.25rem;
  transition: all 0.5s ease-in-out; }
  .card__leaderboard.card__leaderboard--fadeOut {
    opacity: 0; }
  .card__leaderboard.card__leaderboard--fadeIn {
    position: absolute;
    top: 0;
    opacity: 1; }
    .card__leaderboard.card__leaderboard--fadeIn li {
      opacity: 0;
      animation: fadeIn 0.5s ease-in-out forwards; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(1) {
        animation-delay: 0; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(2) {
        animation-delay: 0.1s; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(3) {
        animation-delay: 0.2s; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(4) {
        animation-delay: 0.3s; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(5) {
        animation-delay: 0.4s; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(6) {
        animation-delay: 0.5s; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(7) {
        animation-delay: 0.6s; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(8) {
        animation-delay: 0.7s; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(9) {
        animation-delay: 0.8s; }
      .card__leaderboard.card__leaderboard--fadeIn li:nth-child(10) {
        animation-delay: 0.9s; }

.card__leaderboard li {
  display: flex;
  height: 2.75rem;
  padding: 0.5rem 0;
  line-height: 1.75rem;
  transition: all 1s ease-in-out; }

.card__leaderboard li:nth-child(2n) {
  background-color: rgba(240, 245, 247, 0.25); }

.card__leaderboard li:hover {
  background-color: rgba(240, 245, 247, 0.75); }

.card__leaderboard li + li {
  border-top: 1px solid #F0F5F7; }

.card__leaderboard li > * {
  flex: 1; }

.card__leaderboard li > div:first-child {
  padding-left: 1.5rem;
  padding-right: 0.75rem; }

.card__leaderboard li > div:last-child {
  padding-right: 2.5rem; }

.card__leaderboard li.isCorrect [data-type="score"] {
  color: #37d7af; }
  .card__leaderboard li.isCorrect [data-type="score"]:before {
    opacity: 1;
    transform: scale(1); }

.card__leaderboard li.isWrong [data-type="score"] {
  color: #fd674c; }
  .card__leaderboard li.isWrong [data-type="score"]:before {
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill:%23fd674c;}</style><path class="st0" d="M17.3,16l7.3-7.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0l-7.3,7.3L8.6,7.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l7.3,7.3l-7.3,7.3c-0.4,0.4-0.4,1,0,1.4C7.4,24.9,7.6,25,7.9,25s0.5-0.1,0.7-0.3l7.3-7.3l7.3,7.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L17.3,16z"/></svg>');
    opacity: 1;
    transform: scale(1); }

.card__leaderboard li.demote [data-type="rank"]:before {
  opacity: 0.3;
  transform: translateY(0) rotate(180deg); }

.card__leaderboard li.promote [data-type="rank"] {
  color: #009eeb; }
  .card__leaderboard li.promote [data-type="rank"]:before {
    opacity: 0.3;
    transform: translateY(0); }

.card__leaderboard li.isVictorious {
  font-size: 1.75rem;
  height: auto;
  padding: 1rem 0;
  color: #009EEB; }
  .card__leaderboard li.isVictorious [data-type="name"] {
    position: relative; }
    .card__leaderboard li.isVictorious [data-type="name"]:after {
      content: "WINNER";
      position: absolute;
      top: 0;
      right: 0.5rem;
      display: inline-block;
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      background-color: #E9EFF2;
      font-size: 1rem;
      color: rgba(30, 61, 84, 0.5);
      letter-spacing: 0.05rem;
      line-height: 1rem; }

.card__leaderboard .col--alignright {
  text-align: right; }

.card__leaderboard [data-type="rank"] {
  position: relative;
  flex: 0 1 12%;
  text-align: right; }
  .card__leaderboard [data-type="rank"]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.75rem;
    width: 0.75rem;
    height: 1rem;
    margin-top: -0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 13" style="enable-background:new 0 0 12 13;" xml:space="preserve"><style type="text/css">.st0{fill:%231E3D54;}</style><path id="Combined-Shape" class="st0" d="M7.1,4.1v7.7c0,0.6-0.4,1.1-1.1,1.1s-1.1-0.4-1.1-1.1V4.1L1.8,7.2c-0.4,0.4-1.1,0.4-1.5,0c-0.4-0.4-0.4-1.1,0-1.5L6,0l5.7,5.7c0.4,0.4,0.4,1.1,0,1.5c-0.4,0.4-1.1,0.4-1.5,0L7.1,4.1z"/></svg>');
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.5s ease;
    transition-delay: 0.5s; }

.card__leaderboard [data-type="name"] {
  flex-basis: 38%;
  font-weight: 500; }
  .card__leaderboard [data-type="name"] span {
    vertical-align: top; }

.card__leaderboard [data-type="time"] {
  opacity: 0.3;
  text-align: center;
  flex-basis: 20%; }

.card__leaderboard [data-type="score"] {
  position: relative;
  flex: 0 1 15%;
  font-weight: bold; }
  .card__leaderboard [data-type="score"]:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill:%2337d7af;}</style><path class="st0" d="M12.4,25.7L2.3,15.5c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l8.7,8.7L28.3,7c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4L12.4,25.7z"/></svg>');
    transform: scale(0);
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    opacity: 0; }

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(0.5rem) scale(1);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(0.25rem) scale(1.05);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateY(0) scale(1);
    opacity: 1; } }
