// Wide card (for leaderboard)
.leaderboard {
  width: 100%;
  max-width: 70rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: #F8F9FA;
  box-shadow: 0 0 1rem rgba(20, 36, 51, 0.15);
}
.leaderboard .leaderboard__header h1 {
  padding: 1rem 0;
  font-weight: normal;
  color: #009EEB;
}
@media screen and (min-width: 42rem) {
  .leaderboard {
    padding: 0 2rem;
  }
  .leaderboard__main {
    display: flex;
    flex-direction: row;
  }
  .leaderboard__main > * {
    flex: 1;
  }
  .leaderboard .card {
    margin-bottom: 0;
  }
  .leaderboard .leaderboard__leftcol,
  .leaderboard .leaderboard__rightcol {
    display: flex;
    align-items: center;
  }
  .leaderboard .leaderboard__leftcol {
    max-width: 28rem;
    margin-right: 2rem;
  }
  .leaderboard .leaderboard__rightcol .card {
    max-width: inherit;
  }
}


.leaderboard__footer {
  display: flex;
  padding: 2rem 0;
}
.leaderboard__footer > * {
  flex: 1;
}
.leaderboard__footer .leaderboard__footer__left {
  text-align: left;
}
.leaderboard__footer .leaderboard__footer__centre {
  flex: 2;
  text-align: center;
  align-items: center;
}
.leaderboard__footer .leaderboard__footer__right {
  text-align: right;
}
.leaderboard__footer h4 {
  margin: 0;
  margin-bottom: 0.25rem;
  color: #009EEB;
}
.leaderboard__footer .sequence__progress {
  max-width: 20rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  overflow: hidden;
}
.leaderboard__footer .sequence__progress-bar {
  height: 0.5rem;
}




// Question card modifications for leaderboard
.leaderboard .card {
  border-radius: 1rem;
}

.leaderboard .card--question {
  padding: 0.5rem;
  transition: all 0.5s ease;

  &:not(.isActive) {
    background: transparent;
    box-shadow: none;

    .card__q-title__content:before {
      background: linear-gradient(to bottom, rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 0.8) 30%, rgba(248, 249, 250, 1) 100%);
    }
  }
  &.isActive {
    background: #009EEB;
    color: #fff;

    animation: activeBumpLarge 0.6s ease-in-out;

    .card__q-title__content:before {
      background: linear-gradient(to bottom, rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 0.8) 30%, rgba(0, 158, 235, 1) 100%);
    }
  }

  .card__question {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
  }
  .card__q-title h3 {
    margin-bottom: -1rem;
  }
  .card__q-title__content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card__answer {
    padding-left: 0;
    padding-right: 0;
  }
  .card__answer .button {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    pointer-events: none;
    box-shadow: none;
    border: none;
  }
  &:not(.isAnswered) .card__answer .button,
  &.isAnswered .card__answer .button--answer:not(.isCorrect) {
    background: transparent;
  }
  &:not(.isAnswered) .card__answer .button {
    padding-left: 0;
  }
  &.isAnswered .card__question .card__q-image {
    max-height: 18rem;
  }
  .card__answer .button:after {
    transform: scale(1);
    opacity: 1;
  }
  .card__answer .button__text {
    font-size: 1.125rem;
  }
  .card.isAnswered .button--answer {
    color: #fff;
  }
  .card.isAnswered .button--answer:not(.isSelected) {
  }
  .button .button__stat b {
    bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: normal;
  }
}

.leaderboard .card--score {
  position: relative;
  background: transparent;
  box-shadow: none;
  overflow: visible;

  &.isActive {
    background: #fff;
    box-shadow: 0 0 1rem rgba(20, 36, 51, 0.15);
    animation: activeBumpLarge 0.6s ease-in-out;
  }
}


.card__leaderboard {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 1rem 0;
    font-size: 1.25rem;
    transition: all 0.5s ease-in-out;

    &.card__leaderboard--fadeOut {
      opacity: 0;
    }
    &.card__leaderboard--fadeIn {
      position: absolute;
      top: 0;
      opacity: 1;

      li {
        opacity: 0;
        animation: fadeIn 0.5s ease-in-out forwards;

        &:nth-child(1) { animation-delay: 0; }
        &:nth-child(2) { animation-delay: 0.1s; }
        &:nth-child(3) { animation-delay: 0.2s; }
        &:nth-child(4) { animation-delay: 0.3s; }
        &:nth-child(5) { animation-delay: 0.4s; }
        &:nth-child(6) { animation-delay: 0.5s; }
        &:nth-child(7) { animation-delay: 0.6s; }
        &:nth-child(8) { animation-delay: 0.7s; }
        &:nth-child(9) { animation-delay: 0.8s; }
        &:nth-child(10) { animation-delay: 0.9s; }
      }
    }
}

.card__leaderboard li {
    display: flex;
    height: 2.75rem;
    padding: 0.5rem 0;
    line-height: 1.75rem;
    transition: all 1s ease-in-out;
}
.card__leaderboard li:nth-child(2n) {
    background-color: rgba(240, 245, 247, 0.25);
}
.card__leaderboard li:hover {
    background-color: rgba(240, 245, 247, 0.75);
}
.card__leaderboard li + li {
    border-top: 1px solid #F0F5F7;
}
.card__leaderboard li > * {
    flex: 1;
}
.card__leaderboard li > div:first-child {
    padding-left: 1.5rem;
    padding-right: 0.75rem;
}
.card__leaderboard li > div:last-child {
    padding-right: 2.5rem;
}
.card__leaderboard li.isCorrect {
  [data-type="score"] {
    color: #37d7af;

    &:before {
      opacity: 1;
      transform: scale(1);
    }
  }
}
.card__leaderboard li.isWrong {
  [data-type="score"] {
    color: #fd674c;

    &:before {
      $wrong_svg: '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill:#fd674c;}</style><path class="st0" d="M17.3,16l7.3-7.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0l-7.3,7.3L8.6,7.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l7.3,7.3l-7.3,7.3c-0.4,0.4-0.4,1,0,1.4C7.4,24.9,7.6,25,7.9,25s0.5-0.1,0.7-0.3l7.3-7.3l7.3,7.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L17.3,16z"/></svg>';
      background-image: url("data:image/svg+xml;utf8,#{$wrong_svg}");
      opacity: 1;
      transform: scale(1);
    }
  }
}
.card__leaderboard li.demote {
  // animation: demoteBump 1s ease-in-out forwards;

  [data-type="rank"] {
    &:before {
      opacity: 0.3;
      transform: translateY(0) rotate(180deg);
    }
  }
}
.card__leaderboard li.promote {
  // animation: promoteBump 1s ease-in-out forwards;

  [data-type="rank"] {
    color: rgba(0, 158, 235, 1);

    &:before {
      opacity: 0.3;
      transform: translateY(0);
    }
  }
}
.card__leaderboard .col--alignright {
    text-align: right;
}
.card__leaderboard [data-type="rank"] {
  position: relative;
  flex: 0 1 12%;
  text-align: right;

  &:before {
    $arrow_up_svg: '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 13" style="enable-background:new 0 0 12 13;" xml:space="preserve"><style type="text/css">.st0{fill:#1E3D54;}</style><path id="Combined-Shape" class="st0" d="M7.1,4.1v7.7c0,0.6-0.4,1.1-1.1,1.1s-1.1-0.4-1.1-1.1V4.1L1.8,7.2c-0.4,0.4-1.1,0.4-1.5,0c-0.4-0.4-0.4-1.1,0-1.5L6,0l5.7,5.7c0.4,0.4,0.4,1.1,0,1.5c-0.4,0.4-1.1,0.4-1.5,0L7.1,4.1z"/></svg>';
    content: "";
    position: absolute;
    top: 50%;
    left: 0.75rem;
    width: 0.75rem;
    height: 1rem;
    margin-top: -0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;utf8,#{$arrow_up_svg}");
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.5s ease;
    transition-delay: 0.5s;
  }
}
.card__leaderboard [data-type="name"] {
  flex-basis: 38%;
  font-weight: 500;

  span {
    vertical-align: top;
  }
}
.card__leaderboard [data-type="time"] {
  opacity: 0.3;
  text-align: center;
  flex-basis: 20%;
}
.card__leaderboard [data-type="score"] {
  position: relative;
  flex: 0 1 15%;
  font-weight: bold;

  &:before {
    $correct_svg: '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill:#37d7af;}</style><path class="st0" d="M12.4,25.7L2.3,15.5c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l8.7,8.7L28.3,7c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4L12.4,25.7z"/></svg>';
    content: "";
    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;utf8,#{$correct_svg}");
    transform: scale(0);
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    opacity: 0;
  }
}

@keyframes fadeIn {
    0% { -webkit-transform: translateY(0.5rem) scale(1); opacity: 0; }
   50% { -webkit-transform: translateY(0.25rem) scale(1.05); opacity: 0.5; }
  100% { -webkit-transform: translateY(0) scale(1); opacity: 1; }
}

@keyframes demoteBump {
  //   0% { -webkit-transform: translateY(-1rem); opacity: 0; }
  // 100% { -webkit-transform: translateY(0); opacity: 1; }
}
@keyframes promoteBump {
  //   0% { -webkit-transform: translateY(1rem); opacity: 0; }
  // 100% { -webkit-transform: translateY(0); opacity: 1; }
}