/* Component Child - Card Header */
.card__header {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  text-align: left;
  font-size: 0.875rem;

  @include phoneAndUp() { padding: 0.5rem 1rem; }
  @include tabletAndUp() { padding: 0.75rem 2rem; }
}
.card__header > * {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -0.5rem;
}
.card__header--right {
  margin-right: -1rem;

  @include tabletAndUp() { 
    margin-right: -1.5rem;
  }
}
.card__header a {
  padding: 0.5rem;
  opacity: 0.5;
}
.card__header .card__header--right a {
  opacity: 0.2;
}
.card__header .author .author__name {
  display: block;
  white-space: nowrap;
  max-width: 25vw;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card__header .date {
  display: none;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 1rem;
  opacity: 0.3;
}
@media screen and (min-width: 21rem) {
  .card__header .date {
    display: inherit;
  }
  .card__header .date--onmobile {
    display: none;
  }
}


.card__header--horizontal {
  padding: 0 2rem;
  border-bottom: 1px solid #F0F5F7;
}


.card__category {
  height: 0.25rem;
}