.card__overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 3;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	background: rgba(white, 0.95);

	transform: translateY(2rem);
	transition: all 0.3s ease;
	opacity: 0;
	pointer-events: none;

	@include tabletAndUp() {
		padding: 2rem;
	}

	.card.card--leadActive & {
		transform: translateY(0);
		opacity: 1;
		pointer-events: all;

	}
}


.card__overlay--close {
	position: absolute;
	top: 0;
	right: 0;

	display: inline-block;
	padding: 0.25rem 1rem;

	font-size: 2.5rem;

	opacity: 0.3;

	&:hover {
		opacity: 0.5;
	}
	&:active {
		opacity: 1;
	}
}

.card__overlay img {
	max-width: 75%;
	max-height: 20rem;
}

.card__overlay h4 {
	font-weight: 500;
}

.card__overlay--form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.field {
		width: 100%;
		margin-bottom: 0.5rem;
	}
}
@media screen and (min-width: 30rem) {
	.card__overlay--form .field {
		width: 100%;
		max-width: 50%;
	}
}