.card__overlay-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
.card__overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-height: 3rem;
	z-index: 5;
	// box-shadow: 0px -4px 16px rgba(20, 36, 51, 0.1);
	text-align: left;

	transform: translateY(0);
	transition: all 0.3s ease;
	overflow: auto;

	.card.card--leadActive & {
		max-height: 100%;

		.close { display: block; }
		.chevron { display: none; }
	}

	&--blur {
		display: none;
		width: 100%;
		height: 10rem;
		z-index: 4;
		background: white;
		opacity: 0;
		transition: all 0.3s ease;
		transform-origin: top center;
		transform: scaleY(3) translateY(-10rem);
		cursor: pointer;

		.card.card--leadActive & {
			display: block;
			opacity: 0.5;
			transform: translateY(0);
			transition-delay: 1s;

			&:hover {
				opacity: 0.3;
			}
		}
		.card.card--leadActive &:hover {
			opacity: 0.3;
		}
	}

	&--header {
		position: sticky;
		top: 0;
		display: flex;
		align-items: center;
		padding: 0.75rem 1rem;
		background: white;
		box-shadow: 0px 0.25rem 1rem rgba(20, 36, 51, 0.1);
		cursor: pointer;

		@include tabletAndUp {
			padding: 0.75rem 2rem;
		}

		h4 { flex: 1; }

		.icon {
			flex: 0;
			display: inline-block;
			padding: 0 1rem;
			margin: 0 -1rem;
			opacity: 0.5;

			@include tabletAndUp {
				margin-right: -2rem;
			}

			img { display: block; min-width: 1.5rem; height: 1.5rem; }
			
			.close { display: none; }
		}

		&:hover {
			h4 { color: rgba(20, 36, 51, 0.8); }
			.icon { opacity: 0.7; }
		}
		&:active {
			h4 { color: rgba(20, 36, 51, 1); }
			.icon { opacity: 1; }
		}
	}

	&--content {
		display: none;
		flex-direction: column;
		padding: 0 1rem 1rem;
		background: white;
		box-shadow: 0px -56px 16px rgba(20, 36, 51, 0.1);

		@include tabletAndUp {
			padding: 0 2rem 1rem;
		}

		.card.card--leadActive & {
			display: flex;
		}

		h3 {
			margin: 0;
		}
		p { margin: 0; color: #8392A6; }
		img {
			max-height: 20rem;
			margin-top: 0.75rem;
			border-radius: 0.5rem;
		}
	}

	&--footer {
		position: sticky;
		bottom: 0;
		display: none;
		align-items: center;
		justify-content: flex-end;
		padding: 0.75rem 1rem;
		background: white;
		box-shadow: 0px -0.25rem 1rem rgba(20, 36, 51, 0.1);
		
		@include tabletAndUp {
			padding: 0.75rem 2rem;
		}

		.card.card--leadActive & {
			display: flex;
		}
	}

	h4 {
		margin: 0;
		color: #009EEB;
		font-weight: bold;
		font-size: 0.75rem;
		line-height: 1.25rem;
		letter-spacing: 0.05rem;

		@include tabletAndUp {
		font-size: 0.875rem;
		}
	}
}
.card.card--leadActive .card__question,
.card.card--leadActive .card__title,
.card.card--leadActive .card__answer {
	filter: blur(0.25rem);
}


.card__overlay--form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.field {
		width: 100%;
		margin-bottom: 0.5rem;
	}
}
@media screen and (min-width: 30rem) {
	.card__overlay--form .field {
		width: 100%;
		max-width: 50%;
	}
}
