/* Component Child - Card Question Section */
.card__question {
  position: relative;
  display: flex;
}


// Main question image/text overlay
.card__q-image,
.card__q-title {
  position: relative;
  min-width: 100%;
  width: 100%;
  flex-basis: 100%;
  flex-grow: 1;
}
.card__q-image {
  min-height: 6rem;
  max-height: 18rem;
  overflow: hidden;
  transition: all 0.5s ease;
  transition-delay: 1.5s; /* Follow-up transition */
}
.card__q-title {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: -100%;

  pointer-events: all;
}


// Folloup animation image height adjustments
.card.isAnswered .card__question .card__q-image {
  /* 6rem = height of 'follow up container' */
  min-height: 0;
  max-height: calc(18rem - 6rem);
}
.card.card--sequence.isAnswered .card__question .card__q-image {
  max-height: calc(18rem - 3rem);
}
.card__question.isExpanded .card__q-image {
  padding-bottom: 9rem;
  max-height: 80vh;
  transition-delay: 0;
}
.card__question--toggle {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(30, 61, 84, 0.25);
}
.card__question--toggle:hover {
  background-color: rgba(30, 61, 84, 0.35);
}
.card__question.isExpanded .card__question--toggle img {
  display: none !important;
}
.card__question.isExpanded .card__question--toggle img.close {
  display: block !important;
}



.card__question img {
  width: 100%;
}
.card__q-title__content {
  position: relative;
  width: 100%;
  padding: 1rem;

  @media screen and (min-width: 30rem) {
    padding: 1rem 2rem;
  }
}
.card--sequence .card__q-title__content {
  padding-bottom: 1.5rem !important;
}

// Image overlay gradient
.card__q-title__content:before {
  content: "";
  position: absolute;
  top: -4rem;
  left: 0;
  z-index: -1;
  
  width: 100%;
  height: calc(100% + 4rem);

  pointer-events: none;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0.9) 100%);
}

// Text style
.card__question h3 {
  margin: 0;
  letter-spacing: 0.02rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
}
.card__question h3.h3--small {
  font-size: 1.125rem;
}
.card__question h3.h3--large {
  font-size: 1.5rem;
}