/* Element - Badge */
.badge {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  background-color: #E9EFF2;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
}
.badge img {
  max-width: 100%;
  
}
.badge.badge--small {
  width: 1.75rem;
  height: 1.75rem;
}
.badge.badge--tiny {
  width: 1.25rem;
  height: 1.25rem;
}
.badge.badge--overlap {
  margin-left: -1rem;
}

.badge.badge--status {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  width: auto;
  border-radius: 1rem;
  vertical-align: middle;
}
.badge.badge--status img {
  float: left;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  opacity: 0.25;
}
.badge.badge--status span {
  display: inline-block;
  opacity: 0.75;
  line-height: 1.5rem;
}
.badge--circle {
  text-align: center;
  line-height: 2.5rem;
}
.badge--circle.badge--small {
  line-height: 2rem;
}
.badge--circle img {
  opacity: 0.25;
}
.badge.badge--end-date {
  width: auto;
  height: auto;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border-color: transparent;
  background-color: #fff6d9;
  color: #ffc000;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: initial;
}
.badge.badge--end-date img {
  display: inline-block;
  width: 1rem;
  vertical-align: middle;
}
@media screen and (max-width: 30rem) {
  .badge.badge--end-date {
    margin-right: 0;
  }
}