/* Element - Button */
.button {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  appearance: none;
  border: none;

  border-radius: 0.5rem;
  background: #dde7eb;
  cursor: pointer;
  overflow: hidden;

  font: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.01rem;
  color: inherit;

  transition: all 0.5s ease;

  // Prevents dotted grey border on some version of FF
  &::-moz-focus-inner {
    border: 0;
  }

  &.isSelected {
    background: rgba(0, 158, 235, 1);
    color: white;

    &.isDisabled .button__text {
      color: white;
    }
  }
  &.button--multipunch {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: 2px solid transparent;

    &:after {
      left: auto;
      right: 0.5rem;
      background: url("../images/icons/check_blue.svg");
      transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
    }

    &.isSelected {
      background: white;
      border-color: currentColor;
      color: rgba(0, 158, 235, 1);

      &:after {
        transform: scale(1);
        opacity: 1;
      }
    }
    &.button--image {
      &:before {
        display: none;
      }
      &:after {
        background-color: rgba(0, 158, 235, 1);
        border-radius: 0.75rem;
        background-image: url("../images/icons/check_white.svg");
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .ink {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
.button:hover {
  background-color: white;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
}
.button:focus {
  outline: none;
  animation: activeBump 0.5s ease-in-out;
}
.isAnswered .button--answer:not(.isSelected) {
  background: rgba(0, 0, 0, 0.02);
  color: rgba(30, 61, 84, 0.75);
}
.button.button--answer {
  margin: 0.25rem;
  padding: 0.5rem 1rem 0.25rem;

  @include phoneAndUp() {
    margin: 0.375rem;
  }
  @include tabletAndUp() {
    margin: 0.5rem 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.button.button--nostats {
  min-height: 2.5rem;
  padding: 0.5rem 1.5rem 0.5rem;
}
.button.button--image {
  padding: 0;

  figure {
    position: relative;
    height: 0;
    padding-bottom: 100%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .button__stat {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    width: calc(100% - 1rem);
    opacity: 1;
  }
  .isAnswered & {
    .button__stat {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
.button.button--primary {
  background: rgba(0, 158, 235, 1);
  border-color: rgba(0, 158, 235, 1);
  color: white;
}



/* Answer correct/wrong states */
.button.button-correct,
.button.isSelected.isCorrect {
  background: #37d7af;
}
.button.button-wrong,
.button.isSelected.isWrong {
  background: #fd674c;
}
.button.isCorrect:not(.isSelected) {
  border: 2px solid #37d7af;
}
.button.isSelected.isCorrect,
.button.isSelected.isWrong {
  padding-left: 2.5rem;
}
// Correct/Wrong icons
.button:after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 1.6rem;
  width: 1.6rem;
  background-size: contain;
  transition: all 0.5s ease-in-out;
  transform: scale(0.5);
  opacity: 0;
}
.button.isSelected.isCorrect:after,
.button.isSelected.isWrong:after {
  background: url("../images/icons/check_white.svg");
  transform: scale(1);
  opacity: 1;
}
.button.isSelected.isWrong:after {
  background: url("../images/icons/cross_white.svg");
}

.button.button--image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 158, 235, 0.1);
  border: 0.25rem solid rgba(0, 158, 235, 1);
  border-radius: 0.5rem;

  transition: all 0.6s ease;
  transform: scale(1.05);
  opacity: 0;
  pointer-events: none;
}
.button.button--image.isSelected:before {
  transition: all 0.3s ease;
  transform: scale(1);
  opacity: 1;
}
.button.button--image.isSelected figure img {
  opacity: 0.9;
  // mix-blend-mode: multiply;
}
.isAnswered .button:not(.isSelected) figure img {
  opacity: 0.25;
}
.button--large {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
}
.button--small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
}
.button--square {
  padding: 0.5rem;
}
.button.button--facebook {
  background-color: #3b5998;
  color: #fff;
}
.button.button--twitter {
  background-color: #55acee;
  color: #fff;
}
.button.button--outline {
  background-color: transparent;
  border: 1px solid currentColor;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  opacity: 0.5;
}
.button--small.button--outline {
  padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
}
.button.button--outline:hover {
  opacity: 1;
}
.button.isDisabled {
  background: rgba(0, 0, 0, 0.02);
  pointer-events: none;
}
.button.isDisabled .button__text {
  color: rgba(30, 61, 84, 0.25);
}

.button__text {
  display: inline-block;
  padding-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  transform-origin: top left;
  transition: transform 0.5s ease, padding 0.5s ease;
}
@media screen and (min-width: 21rem) {
  .button__text {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.isAnswered .button__text {
  transform: scale(0.875);
  transition-delay: 0.5s;
}
.button .button__stat {
  display: block;
  height: 0.25rem;
  margin: 0.125rem 2.5rem 0.25rem 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.125rem;
  opacity: 0.5;
  transition: background 1.5s ease;
}
.isAnswered .button .button__stat {
  background-color: rgba(0, 0, 0, 0.1);
}
.button .button__stat span {
  display: block;
  height: 0.25rem;
  max-width: 0;
  background-color: currentColor;
  border-radius: 0.125rem;
  transition: max-width 1.5s cubic-bezier(1, 0, 0, 1), margin-top 0.5s ease;
}
.isAnswered .button .button__stat span {
  max-width: 100%;
  transition-delay: 0.5s;
}
.button .button__stat b {
  position: absolute;
  right: 0.5rem;
  bottom: 0.25rem;
  font-size: 0.875rem;
  transform: translateX(4rem);
  transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition-delay: 0.5s;
}
.isAnswered .button .button__stat b {
  transform: translateX(0);
}

/* https://codepen.io/ayoisaiah/pen/GWwabJ */
/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
  display: block;
  position: absolute;
  z-index: 2;
  background: rgba(30, 61, 84, 0.5);
  border-radius: 100%;
  transform: scale(0);
}
.button--answer .ink {
  background: rgba(0, 119, 179, 1);
}
/*animation effect*/
.ink.animate {
  animation: ripple 0.5s linear;
}
