/* Element - Field */
.field {
  appearance: none;
  display: inline-block;
  min-width: 12rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: white;
  line-height: 1.5rem;
  font: inherit;
  font-size: 0.875rem;
  transition: all 0.5s ease;
}
.field:focus {
  outline: none;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 158, 235, 1);
}


.field::-webkit-input-placeholder {
  color: #ccc;
}
.field:-moz-placeholder {
  color: #ccc;
}
.field::-moz-placeholder {
  color: #ccc;
}
.field:-ms-input-placeholder {
  color: #ccc;
}

.field.field--large {
  min-width: 18rem;
  padding: calc(0.5rem + 2px) 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: white;
  line-height: 2rem;
  font: inherit;
  font-size: 1rem;
  transition: all 0.5s ease;
}

.field--checkbox {
  display: inline-block;
  margin-top: 0.5rem;
}
.field--checkbox + label {
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  color: #B8C6CC;
  font-size: 0.75rem;
  cursor: pointer;
  user-select: none;
}
input:checked + label {
  color: rgba(0, 158, 235, 1);
}
.field--checkbox + label a {
  text-decoration: underline;
}

textarea.field {
  resize: none;
}

.field.field--underline {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #B8C6CC;
  background: none;
  padding: 1rem 0;
}
.field.field--underline:focus {
  border-bottom-color: rgba(0, 158, 235, 1);
  box-shadow: none;
  color: rgba(0, 158, 235, 1);
}
.field.field--underline.field--large {
  font-weight: 500;
  font-size: 2rem;
}

