/* Element - Field */
.field {
  appearance: none;
  display: inline-block;
  min-width: 12rem;
  padding: 0.5rem;
  border: 1px solid rgba($darkblue, 0.2);
  border-radius: 0.5rem;
  background: $white;
  line-height: 1.5rem;
  font: inherit;
  font-size: 0.875rem;
  transition: all 0.5s ease;
  resize: none; // For textarea
  
  &:focus {
    outline: none;
    box-shadow: 0 0.125rem 1rem rgba($darkblue, 0.2);
    border-color: $blue;
  }
  &::-webkit-input-placeholder {
    color: rgba($darkblue, 0.3);
  }
  &:-moz-placeholder {
    color: rgba($darkblue, 0.3);
  }
  &::-moz-placeholder {
    color: rgba($darkblue, 0.3);
  }
  &:-ms-input-placeholder {
    color: rgba($darkblue, 0.3);
  }

  // Answer input field
  &--answer {
    padding: calc(0.75rem - 1px) 1rem;
    padding-right: 3.5rem;
    font-size: 1.125rem;
    line-height: 2rem;

    &.field--multiline {
      width: 100%;
      font-size: 1rem;
      line-height: 1.375rem;
    }

    .card.isAnswered & {
      border-color: transparent;
      background: $blue;
      color: $white;
      pointer-events: none;

      & + .button {
        margin-left: 0;
        margin-right: -2rem;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  // Large field
  &--large {
    min-width: 18rem;
    padding: calc(0.5rem + 2px) 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background: $white;
    line-height: 2rem;
    font: inherit;
    font-size: 1rem;
    transition: all 0.5s ease;
  }

  // Checkbox
  &--checkbox {
    display: inline-block;
    margin-top: 0.5rem;
  }
  &--checkbox + label {
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    color: #B8C6CC;
    font-size: 0.75rem;
    cursor: pointer;
    user-select: none;
  }
  &--checkbox:checked + label {
    color: rgba($blue, 1);
  }
  &--checkbox + label a {
    text-decoration: underline;
  }

  &--underline {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgba($white, 0.2);
    background: none;
    padding: 1rem 0;
    color: rgba($white, 0.7);

    &:focus {
      border-bottom-color: $white;
      box-shadow: none;
      color: $white;
    }
    &.field--large {
      padding: 3rem 0;
      font-weight: 500;
      font-size: 2rem;
      border-bottom-width: 3px;
    }
    &.field--large::-webkit-input-placeholder {
      color: rgba($white, 0.3);
    }
    &.field--large:-moz-placeholder {
      color: rgba($white, 0.3);
    }
    &.field--large::-moz-placeholder {
      color: rgba($white, 0.3);
    }
    &.field--large:-ms-input-placeholder {
      color: rgba($white, 0.3);
    }
  }
}
