/* Component Child - Card Answer Section */
.sequence__timer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 30rem) {
  .sequence__timer {
  	max-width: 36rem;
    padding: 0 2rem 1rem;
  }
}

.sequence__timer--label {
	padding: 0.25rem 0.5rem;
	flex-grow: 0;
	border-radius: 1rem;
	background-color: #FFC000;
	color: #fff;
}
.card .sequence__timer--label {
	font-size: 0.75rem;
	line-height: 0.75rem;
}
.isFinished .sequence__timer--label {
	background-color: rgba(20, 36, 51, 0.05);
	color: transparent;
}

.sequence__timer--box {
	flex-grow: 1;
	height: 0.25rem;
	border-top-right-radius: 0.125rem;
	border-bottom-right-radius: 0.125rem;
	background-color: rgba(20, 36, 51, 0.05);
	overflow: hidden;
}
.sequence__timer--bar {
	display: block;
	width: 100%;
	height: 100%;
	border-top-right-radius: 0.125rem;
	border-bottom-right-radius: 0.125rem;
	background-color: #FFC000;
	// background-color: rgba(20, 36, 51, 0.05);
}
.sequence__timer.isRunning .sequence__timer--bar {
	width: 0;
}
